{% extends 'vocab/base.html' %}

{% block title %}Reset your password{% endblock %}
{% block content %}



    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-12">
            <div class="card shadow p-4 rounded">
                <div class="card-body">


                    {#    #}
                    {#    #}
                    {#    <div class="container">#}
                    {#        <div class="card shadow p-4 rounded">#}
                    {#            <div class="card-body">#}


                    <h3>Забыли пароль?</h3>
                    <p>Укажите вашу электронную почту для получения нового пароля.</p>
                    {#                <form method="post">#}
                    {#                    {{ form.as_p }}#}
                    {#                    <p><input type="submit" value="Send e-mail"></p>#}
                    {#                    {% csrf_token %}#}
                    {#                </form>#}


{#                    <form class="needs-validation mb-5" method="post" novalidate>#}
                    <form action="{% url 'password_reset' %}" method="post">
                        <div class="mb-3">
                            <label for="id_email" class="form-label">
                                Email
                                <span class="text-danger">*</span>
                            </label>
{#                            {{ form.as_ul }}#}
                            <input type="email" class="form-control" placeholder="Введите адрес электронной почты" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                            {% csrf_token %}
                            <div class="invalid-feedback">Введите адрес электронной почты.</div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Сбросить пароль</button>
                        </div>
                    </form>

                    <div class="text-center">
                        <a href="{% url 'login' %}" class="icon-link icon-link-hover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                            </svg>
                            <span>Назад к странице входа</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}